.detail-content{
    padding-top: 16px;
    .title{
        font-size: 20px;
        text-align: center;
    }
    .date{
        margin: 10px 0;
        font-size: 16px;
        color: #bbb;
        text-align: center;
    }
    .description{
        font-size: 16px;
        margin-bottom: 20px;
    }
}