.index-page {
    min-height: 100vh;

    .main-content {
        padding: 70px 0;

        .container {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;

            .left-content {
                flex: 1;
                background: #fff;
                padding: 20px 20px 40px;
                border-radius: 5px;
                border: 1px solid #eee;
                position: relative;

                .blog-list {
                    .title {
                        font-size: 18px;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }

                    .detail {
                        font-size: 16px;
                        color: #bbb;
                        .item{
                            margin: 10px 0;
                            .item-block{
                                margin-right: 15px;
                                .icon{
                                    margin-right: 3px;
                                }
                            }
                        }
                    }

                    .tags{
                        margin-bottom: 10px;
                    }

                    .des {
                        font-size: 14px;
                        color: #bbb;
                    }

                    .more{
                        color: #91d5ff;
                        span{
                            margin: 0 5px;
                        }
                        &:hover{
                            color: #1890ff;
                        }
                    }
                }
            }

            .right-content {
                width: 300px;
                margin-left: 10px;
            }
        }
    }
}

@media (max-width:768px){
    .index-page .main-content .container{
        display: block;
    }
    .index-page .main-content .container .left-content .menu-mobile{
        display: block;
    }
    .index-page .main-content .container .left-content .ant-list-item{
        display: block;
        padding: 16px 0;
    }
    .index-page .main-content .container .left-content .ant-list-item .ant-list-item-extra{
        margin: 10px 0 0;
        text-align: right;
    }
    .index-page .main-content .container .right-content{
        display: none;
    }
    .index-page .main-content .container .left-content .blog-list .title{
        font-size: 16px;
    }
}