.category{
    margin-top: 10px;
    background: #fff;
    border-radius: 5px;
    border: 1px solid #eee;
    overflow: hidden;
    .category-item{
        cursor: pointer;
        transition: .3s;
        padding: 12px 16px;
        &:hover,
        &.active{
            background: #eee;
        }
    }
}